<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Cupcake</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/index.css" th:href="@{/css/index.css}" rel="stylesheet"/>
</head>

<!-- Banner  -->
<img class="banner" src="../public/images/banner.png" th:src="@{/images/banner.png}" style="width: 100%">

<!-- Navigations menu laves i header      -->
<header th:if="${session.currentUser != null}"> <!-- bliver kun vist, hvis der findes en bruger i sessionen. -->

    <a class="hjem" href="startpage.html" th:href="@{startpage}">Hjem</a>
    <a class="byg" href="createCupcake.html" th:href="@{createCupcake}">Byg CupCake</a>
    <a class="odre" href="admin.html" th:href="@{order}">Odre</a>
    <a class="login" href="login.html" th:href="@{login}">Login</a>

</header>


<body>
<div class="indexContainer">
<div class="indexText">
    <h2>Velkommen til Olsker Cupcakes!</h2>
    <br>
    <h3>I Olsker Cupcake er vi specialiserede i at lave cupcakes fra bunden af med<br>
        naturlige og frugtige smage.
        <br>
        <br>
        Du kan helt selv vælge mellem 9 forskellige smage til din frosting, samt<br>
        6 forskellige smage til din bund af cupcake.</h3>
</div>

    <div class="indexLogin">
        <form action="login" method="post">
            <h3>Login</h3>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>

            <label for="password">Adgangskode:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Log ind</button>

            <p>Har du ikke en bruger? <a href="signUp.html" th:href="@{signUp}">Opret dig her</a></p>
        </form>
    </div>
</div>
</body>
</html>
