<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Cupcake</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<!-- Banner  -->
<img class="banner" src="../public/images/banner.png" th:src="@{/images/banner.png}" width="1300" height="267">

<!-- Navigations menu laves i header      -->
<header>

    <a href="index.html" th:href="@{index}">Hjem</a>
    <a href="createCupcake.html" th:href="@{createCupcake}">Byg CupCake</a>
    <a href="order.html" th:href="@{order}">Odre</a>

</header>

<body>

</body>
</html>
