<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Cupcake</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<!-- Banner  -->
<img class="banner" src="../public/images/banner.png" th:src="@{/images/banner.png}" style="width: 100%">

<!-- Navigations menu laves i header      -->
<header>

    <a class="hjem" href="startpage.html" th:href="@{startpage}">Hjem</a>
    <a class="byg" href="createCupcake.html" th:href="@{createCupcake}">Byg CupCake</a>
    <a class="indexOrder" href="order.html" th:href="@{order}">Ordre</a>

    <!-- Vis brugerens email, hvis nogen er logget ind -->
    <div class="user-info" th:if="${session.currentUser != null}">
        <span th:text="${session.currentUser.email}"></span>

        <!-- Kurv ikon -->
        <a class="indkøbskurv" href="cart.html" th:href="@{cart}">Indkøbskurv</a>
    </div>

</header>


<body>
<div class="indexContainer">
<div class="startText">

    <!--<h2>Velkommen til <span th:text="${session.currentUser.email}"></span></h2> -->
    <br>
    <h3>Du er nu logget ind og klar til at bygge din helt egen cupcake.<br>
        Det eneste du skal gøre for at komme i gang, er at trykke på <br>
        “Byg Cupcake” eller på knappen “Kom igang” nedenunder.
    </h3>
    <form th:action="@{/createCupcake}" method="get">
        <button class="komIgang" type="submit">Kom igang</button>
    </form>

</div>

<div class="startMuffin">
    <img src="../public/images/cupcake.png" th:src="@{/images/cupcake.png}"  style="width: 50%">

</div>

</div>
</body>
</html>
